@use '../colors' as color;

.btn {
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;

  // * SIZE STYLES
  &.btn_sm {
    font-size: 14px;
    padding: .4rem .8rem;
    border-radius: 6px;
  }

  &.btn_md {
    font-size: 16px;
    padding: .5rem 1rem;
    border-radius: 8px;
  }

  &.btn_lg {
    font-size: 18px;
    padding: .6rem 1.2rem;
    border-radius: 10px;
  }

  // * DEFAULT STYLES
  &.btn_default {
    color: color.$white;

    &.btn_primary {
      background-color: color.$blue;
      border-color: color.$blue;
    }

    &.btn_error {
      background-color: color.$red;
      border-color: color.$red;
    }

    &.btn_warning {
      background-color: color.$yellow;
      border-color: color.$yellow;
    }
    
    &:hover {
      transform: scale(1.1);
    }
  }

  // * OUTLINE STYLES
  &.btn_outline {
    background: none;
    
    &.btn_primary {
      border-color: color.$blue;
      color: color.$blue;
    }
    
    &.btn_error {
      border-color: color.$red;
      color: color.$red;
    }

    &.btn_warning {
      border-color: color.$yellow;
      color: color.$yellow;
    }
    
    &:hover {
      transform: scale(1.1);
    }
  }

  // * TEXT STYLES
  &.btn_text {
    background: none;
    
    &.btn_primary {
      color: color.$blue;
    }
    
    &.btn_error {
      color: color.$red;
    }

    &.btn_warning {
      color: color.$yellow;
    }
    
    &:hover {
      transform: scale(1.1);
    }
  }

  &.btn_disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      transform: scale(1);
    }
  }
}