@use '../colors' as color;
@use 'sass:color' as c;

.genre_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: .5rem 1rem;
  border: 1px solid c.adjust(color.$gray, $alpha: -.8);
  border-radius: .5rem;

  .position_number {
    width: 2rem;
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 1px c.adjust(color.$primary, $alpha: -.8);
    color: c.adjust(color.$gray, $alpha: -.8);
  }

  .genre_name {
    flex: 1;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .score {
    padding: .25rem .75rem;
    border-radius: 999px;
    background-color: c.adjust(color.$primary, $alpha: -.85);
    color: color.$primary;
    font-weight: 700;
    font-size: .875rem;
  }

  &:hover {
    border: 1px solid c.adjust(color.$primary, $alpha: -.6);
    background-color: c.adjust(color.$primary, $alpha: -.9);

    .position_number {
      color: color.$primary;
    }
  }
}