@use '../colors' as color;
@use 'sass:color' as c;

.main {
  height: calc(100dvh - 4rem); // 100dvh minus header height
  background-image: radial-gradient(
    circle at top,
    c.scale(color.$primary, $lightness: -85%),
    c.scale(color.$primary, $lightness: -90%),
    c.scale(color.$primary, $lightness: -95%),
    color.$neutral,
    color.$neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 2rem;

  .title {
    font-size: 3rem;

    span {
      display: inline-block;
      background-image: linear-gradient(
        90deg,
        color.$primary,
        color.$white
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .description {
    font-size: 1.2rem;
    color: c.scale(color.$secondary, $lightness: 60%);
    text-align: center;
    text-wrap: pretty;
    width: 100%;
    max-width: 768px;
  }
}

.options {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  cursor: pointer;

  .card {
    border-radius: 1rem;
    overflow: hidden;
    height: 15rem;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      transition: transform 300ms;
    }

    .card_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 1rem;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      // background-image: linear-gradient(to top, c.scale(color.$primary, $lightness: -60%), transparent);
      background-image: linear-gradient(to top, color.$neutral, transparent);

      .card_title {
        font-size: 1.5rem;
      }

      .card_description {
        font-size: 1rem;
        color: c.scale(color.$secondary, $lightness: 60%);
        max-height: 0;
        opacity: 0;
        transition: all 400ms;
      }
    }
    
    &:hover {
      box-shadow: 0 0 8px 1px c.adjust(color.$primary, $alpha: -.4);

      img {
        transform: scale(110%);
      }

      .card_content {
        .card_description {
          max-height: 15rem;
          opacity: 1;
        }
      }
    }

  }
}
